<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Gestão de Eventos - Inicio</title>
	<link rel="stylesheet" href="/css/third/semantic.min.css"/>
	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="/css/login.css"/>
	<script src="/js/third/jquery.min.js" charset="utf-8"></script>
	<script src="/js/third/semantic.min.js" charset="utf-8"></script>
</head>
<body>
	<div th:include="fragments/menu"></div>

<a class="ui fluid blue basic button" href="/usuarios/cadastrar">Novo Usuário</a>
<a class="ui fluid blue basic button" href="/eventos/cadastrar">Novo evento</a>

    <p th:text="${error}" th:if="${error}" />
    <div th:if="${user}">
        <p th:text="${user.id}"></p>
        <p th:text="${user.email}"></p>
        <p th:text="${user.username}"></p>
        <p th:text="${user.nome}"></p>
    </div>

</body>
</html>